@using ARMvc.Helpers; 
<!-- Page Footer-->
<footer class="section footer-classic context-dark">
    <div class="container">
        <ul>
            @*<li class="active"><a href="#">@Html.Resource("Home")</a></li>*@
            <li><a href="@Url.Action("Index", "Maintenance")">@Html.Resource("MaintenanceRequest")</a></li>
            <li><a href="@Url.Action("Index", "Rent")">@Html.Resource("PayRent")</a></li>
            @*<li><a href="#" onclick="return fnChangeCulture();">@Html.Resource("Language")</a></li>
            <li><a href="#">@Html.Resource("Logout")</a></li>*@
        </ul>
        <ul>
            <li>
                <!-- Rights-->
                <p>
                    <span>©&nbsp;</span>
                    <span>@DateTime.Now.Year</span>
                    <span>&nbsp;</span>
                    <span>@Html.Resource("AlKhalid")</span>
                    <span>&nbsp;</span>
                    @*<a href="#">Privacy Policy</a>*@
                    <span>&nbsp;</span>
                    <a href="mailto:info@alkhalid.com">info@alkhalid.com</a>
                </p>
            </li>
        </ul>
    </div>
</footer>