@using ARMvc.Helpers;
@{ 
    AlKhalidModels.UserModel objUser = Session[AlKhalidRentalsClient.Helpers.SessionConstants.UserSession] as AlKhalidModels.UserModel;
    string branchName = objUser.CardCode + "-" + objUser.CardName;
}
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <div class="row align-item-center">
            <div class="col-lg-4 col-md-8 col-sm-9 col-10">
                <div class="LogWidth" onclick="window.location.href='@Url.Action("Index", "Home")'">
                    <div class="logo">
                        <img src="~/Content/images/al_khalid-logo.png" >
                        <span>@Html.Resource("AlKhalid")</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-4 col-sm-3 col-2">
                <div class="MobTopMenu">
                    <span><i><img src="~/Content/images/Mob_menu.png"></i></span>
                </div>
                <div class="MenuOverlay"></div>
                <ul class="menu">
                    <li class="active"><a href="@Url.Action("Index", "Home")">@Html.Resource("Home")</a></li>
                    <li><a href="@Url.Action("Index", "Maintenance")">@Html.Resource("MaintenanceRequest")</a></li>
                    <li><a href="@Url.Action("Index", "Rent")">@Html.Resource("PayRent")</a></li>
                    <li><a href="@Url.Action("SignOut", "Account")">@Html.Resource("Logout")</a></li>
                    <li><a onclick="return fnChangeCulture('@Request.Url.AbsoluteUri');">@Html.Resource("Language")</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<script src="~/Scripts/Home.js"></script>
<input type="hidden" id="hdf_Culture_URL" value="@Url.Action("ChangeCulture", "Account")" />