@using ARMvc.Helpers;
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <div class="row align-item-center">
            <div class="col-md-4">
                <div class="logo">
                    <img src="~/Content/images/al_khalid-logo.png" onclick="window.location.href='@Url.Action("Index", "Home")'">
                    <span>@Html.Resource("AlKhalid")</span>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="menu d-flex justify-content-end align-item-center">
                    <li class="active"><a href="#">@Html.Resource("Home")</a></li>
                    <li><a href="@Url.Action("Index", "Maintenance")">@Html.Resource("MaintenanceRequest")</a></li>
                    <li><a href="@Url.Action("Index", "Rent")">@Html.Resource("PayRent")</a></li>
                    <li><a onclick="return fnChangeCulture('@Request.Url.AbsoluteUri');">@Html.Resource("Language")</a></li>
                    <li><a href="@Url.Action("SignOut", "Account")">@Html.Resource("Logout")</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<script src="~/Scripts/Home.js"></script>
<input type="hidden" id="hdf_Culture_URL" value="@Url.Action("ChangeCulture", "Account")" />