@model AlKhalidModels.MaintenanceModel
@using ARMvc.Helpers;

<!-- Maintenance Page-->
<!-- Title Section-->
<section class="PayPage">
    <div class="InnerTittle">
        <div class="OverLayBg d-flex align-items-center">
            <div class="container d-flex align-items-center">
                <h2>@Html.Resource("MaintenanceRequest")</h2>
            </div>
        </div>
    </div>
    <!-- Request Section-->
    <div class="DeatailsSec">
        <form id="frm_PayRent" action="@Url.Action("RequestService", "Maintenance")" method="post">
            <div class="container MaintDetails">
                <h3>@Html.Resource("RequestDetails")</h3>
                <div class="d-flex align-items-center mb-4">
                    <label>@Html.Resource("CardCode")</label>
                    <input type="text" name="CardCode" value="@Model.CardCode" readonly>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <label>@Html.Resource("CardName")</label>
                    <input type="text" name="CardName" value="@Model.CardName" readonly>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <label>@Html.Resource("Message")<span class="Required">*</span></label>
                    <textarea placeholder="Enter Message" name="Subject"></textarea>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <button onclick="fnShowLoader();">@Html.Resource("SubmitRequest")</button>
                </div>
            </div>
        </form>
    </div>
</section>