@model AlKhalidModels.PaymentResponseModel
@using ARMvc.Helpers;
@{
    bool isPGSuccess = !string.IsNullOrEmpty(Model.Result) && Model.Result.Equals("CAPTURED");
}
<div class="limiter">
    <div class="container-login100 ">
        <div class="wrap-login100">
            <div class="paymentSuccess d-flex justify-content-center">
                <img src="@Url.Content("~/Content/images/" + (isPGSuccess ? "success_tick.svg" : "success_cross.svg"))">
            </div>
            <div class="Messge d-flex justify-content-center">
                <h4>@(isPGSuccess ? "Payment Success" : "Payment Failed")</h4>
                <p><span>Result :</span> <span>@Model.Result</span></p>
                <p><span>PayReference :</span> <span>@Model.PayReference</span></p>
                <p><span>PaymentId :</span> <span>@Model.PaymentId</span></p>
                <p><span>TransID :</span> <span>@Model.TransID</span></p>
                <p><span>Auth :</span> <span>@Model.Auth</span></p>
                <p><span>Reference :</span> <span>@Model.Reference</span></p>
                <p>
                    <a href="@Url.Action("Index", "Home")" class="Back_Btn">@Html.Resource("BackToHome")</a>
                </p>
            </div>
        </div>
    </div>
</div>