@model AlKhalidModels.ResetPassword

@using ARMvc.Helpers;
@using System.Threading;
@{
    Layout = null;
    string culture = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "en" ? "ar" : "en";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Site Title-->
    <title>@Html.Resource("AlKhalid")</title>
    <!-- Fav Icon-->
    <link rel="icon" href="~/Content/images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/util.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/css/main_@(culture).css">
</head>
<body>


    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(../Content/images/bg-01.jpg);">
                    <span class="login100-form-title-1">
                        @Html.Resource("AlKhalidLoginForgotPassword")
                    </span>
                </div>
                <form class="login100-form validate-form" data-bind="submit: loginSubmit">
                    <div class="validate-input m-b-18 err-msg" style="visibility:hidden;">
                        <span class="error">@Html.Resource("InvalidUserFP")</span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">@Html.Resource("Username")</span>
                        <input class="input100 err-val-ctrl" type="text" name="UserName" placeholder="@Html.Resource("EnterUsername")" data-bind="value:UserName">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">@Html.Resource("NewPassword")</span>
                        <input class="input100 err-val-ctrl" type="password" name="UserPassword" data-bind="value:UserPassword" placeholder="@Html.Resource("EnterNewPassword")">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">@Html.Resource("ConfirmPassword")</span>
                        <input class="input100 err-val-ctrl" type="password" name="NewPassword" data-bind="value:NewPassword" placeholder="@Html.Resource("ConfirmPassword")">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn align-items-center">
                        <button class="login100-form-btn" type="submit" data-bind="click: loginValidate">
                            @Html.Resource("Confirm")
                        </button>
                        <a class="CultrChangeLogin" onclick="return fnChangeCulture('@Request.Url.AbsoluteUri');">@Html.Resource("LoadCutureSite")</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<input type="hidden" id="HomeURL" value="@Url.Action("Index", "Home")" readonly />
<input type="hidden" id="ForgotPURL" value="@Url.Action("ChangePassword", "Account")" readonly />
<input type="hidden" id="hdf_Culture_URL" value="@Url.Action("ChangeCulture", "Account")" />
<section class="PayPage">
    <div class="InnerTittle">
        <div class="OverLayBg d-flex align-items-center">
            <div class="container d-flex align-items-center">
                <h2>@Html.Resource("MaintenanceRequest")</h2>
            </div>
        </div>
    </div>
    <!-- Request Section-->
    <div class="DeatailsSec">
        <form id="frm_PayRent" action="@Url.Action("RequestService", "Maintenance")" method="post">
            <div class="container MaintDetails">
                <h3>@Html.Resource("RequestDetails")</h3>
                <div class="d-flex align-items-center mb-4">
                    <label>@Html.Resource("Username")</label>
                    <input type="text" name="CardCode" value="@Model.CardCode" readonly>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <label>@Html.Resource("OldPassword")</label>
                    <input type="text" name="CardName" value="@Model.CardName" readonly>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <label>@Html.Resource("NewPassword")</label>
                    <input type="text" name="CardName" value="@Model.CardName" readonly>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <label>@Html.Resource("ConfirmPassword")</label>
                    <input type="text" name="CardName" value="@Model.CardName" readonly>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <label>@Html.Resource("CardName")</label>
                    <input type="text" name="CardName" value="@Model.CardName" readonly>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <label>@Html.Resource("Message")<span class="Required">*</span></label>
                    <textarea placeholder="@Html.Resource("EnterMessage")" name="Subject"></textarea>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <button onclick="fnShowLoader();">@Html.Resource("SubmitRequest")</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="~/Scripts/ChangePassword.js"></script>