@model AlKhalidModels.ResetPassword

@using ARMvc.Helpers;
@using System.Threading;
@{
    Layout = null;
    string culture = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "en" ? "ar" : "en";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Site Title-->
    <title>@Html.Resource("AlKhalid")</title>
    <!-- Fav Icon-->
    <link rel="icon" href="~/Content/images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/util.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/css/main_@(culture).css">
</head>
<body>
    <input type="hidden" id="HomeURL" value="@Url.Action("Index", "Home")" readonly />
    <input type="hidden" id="ForgotPURL" value="@Url.Action("ChangePassword", "Account")" readonly />

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(../Content/images/bg-01.jpg);">
                    <span class="login100-form-title-1">
                        @Html.Resource("AlKhalidLoginForgotPassword")
                    </span>
                </div>
                <form class="login100-form validate-form" data-bind="submit: loginSubmit">
                    <div class="validate-input m-b-18 err-msg" style="visibility:hidden;">
                        <span class="error">@Html.Resource("InvalidUserFP")</span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">@Html.Resource("Username")</span>
                        <input class="input100 err-val-ctrl" type="text" name="UserName" placeholder="@Html.Resource("EnterUsername")" data-bind="value:UserName">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">@Html.Resource("NewPassword")</span>
                        <input class="input100 err-val-ctrl" type="password" name="UserPassword" data-bind="value:UserPassword" placeholder="@Html.Resource("EnterNewPassword")">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">@Html.Resource("ConfirmPassword")</span>
                        <input class="input100 err-val-ctrl" type="password" name="NewPassword" data-bind="value:NewPassword" placeholder="@Html.Resource("ConfirmPassword")">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn align-items-center">
                        <button class="login100-form-btn" type="submit" data-bind="click: loginValidate">
                            @Html.Resource("Confirm")
                        </button>
                        <a class="CultrChangeLogin" onclick="return fnChangeCulture('@Request.Url.AbsoluteUri');">@Html.Resource("LoadCutureSite")</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Scripts/knockout/knockout-3.5.1.js"></script>
    @*<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.min.js'></script>*@
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/ChangePassword.js"></script>
    <script src="~/Scripts/AllPage.js"></script>
    <input type="hidden" id="hdf_Culture_URL" value="@Url.Action("ChangeCulture", "Account")" />
    <!-- Popup overlay loader start here-->
    <div class="overlay">
        <div class="loaderDiv">
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
    </div>
    <!-- Popup overlay loader ends here-->
</body>
</html>