@using ARMvc.Helpers;
<!-- Slider-->
<section class="sectionBanner">
    <div class="Banner-slider d-flex align-items-center justify-content-center">
        @*<div class="contentSection">
            <div class="d-flex flex-wrap">
                <h6>@Html.Resource("IntroHead1")</h6>
                <h1>@Html.Resource("AlKhalidGroup")</h1>
                <h3 class="">@Html.Resource("IntroHead2")</h3>
                <p>@Html.Resource("IntroHead3")</p>
                <div class="CtaBtn">
                    <a class="" href="@Url.Action("Index", "Maintenance")" tabindex="0">@Html.Resource("MaintenanceRequest")</a>
                    <a class="" href="@Url.Action("Index", "Rent")" tabindex="0">@Html.Resource("PayRent")</a>
                </div>
                <div class="NewsFeed">
                    <div id="carouselNewsIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <p>@Html.Resource("IntroTxt1")</p>
                            </div>
                            <div class="carousel-item">
                                <p>@Html.Resource("IntroTxt2")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        @*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('https://assets-news.housing.com/news/wp-content/uploads/2018/11/23065442/Stamp-duty-and-tax-on-gift-of-property-FB-1200x725-compressed-1200x725.jpg') ">
                </div>
                <div class="carousel-item" style="background-image: url('https://assets-news.housing.com/news/wp-content/uploads/2018/11/23065442/Stamp-duty-and-tax-on-gift-of-property-FB-1200x725-compressed-1200x725.jpg') ">
                </div>
                <div class="carousel-item" style="background-image: url('https://assets-news.housing.com/news/wp-content/uploads/2018/11/23065442/Stamp-duty-and-tax-on-gift-of-property-FB-1200x725-compressed-1200x725.jpg') ">
                </div>
            </div>
        </div>*@
        <div class="CtaText">
            @{ Html.RenderAction("Announcements"); }
        </div>
    </div>
</section>


